.row{
    padding: 20px;
    background-color: #C2CAE8;
    font-family: 'Roboto Mono', monospace;
}
.contenedor{
    width: auto;
    font-size: 28px;
}
h1{
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}
h2{
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}
p{
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}
.parte1, .parte2{
    display: inline-block;
    font-size: 23px;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 5px #FCC5DF;
}