<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="95"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'30'"
        [subtitle]="'95%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'30'"
            [subtitle]="'70%'"
            [subtitleColor]="'#001011'"
            [subtitleFontSize]="'20'"
            [subtitleFontWeight]="'100'"
            [backgroundColor]="'#FED4E7'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FFFBAD'"
            [innerStrokeColor]="'transparent'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVASCRIPT'"
        [titleFontSize]="'30'"
        [subtitle]="'75%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'BOOTSTRAP'"
        [titleFontSize]="'30'"
        [subtitle]="'60%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'TYPESCRIPT'"
        [titleFontSize]="'30'"
        [subtitle]="'60%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'ANGULAR'"
        [titleFontSize]="'30'"
        [subtitle]="'65%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'GIT'"
        [titleFontSize]="'30'"
        [subtitle]="'50%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'GITHUB'"
        [titleFontSize]="'30'"
        [subtitle]="'50%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVA'"
        [titleFontSize]="'30'"
        [subtitle]="'55%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'MYSQL'"
        [titleFontSize]="'30'"
        [subtitle]="'60%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'FIGMA'"
        [titleFontSize]="'30'"
        [subtitle]="'60%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [title]="'PHOTOSHOP'"
        [titleFontSize]="'30'"
        [subtitle]="'40%'"
        [subtitleColor]="'#001011'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'100'"
        [backgroundColor]="'#FED4E7'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFBAD'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress> 
    </div>
</div>
