<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> 
                <h2>Centro Universitario Vicente López, Educación IT</h2> - <h3>02-2022 - 03-2022</h3>
            </li>
            <p>Testing de Software</p>
        </ul>
        <ul>
            <li> 
                <h2>Codo a Codo</h2> - <h3>2022 | Actualidad</h3>
            </li>
            <p>Testing 4.0</p>
        </ul>
        <ul>
            <li> 
                <h2>freeCodeCamp</h2> - <h3>2022</h3>
            </li>
            <p>Responsive Web Design</p>
        </ul>
    </div>
</div>
