<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil.png"  class="img-fluid"  id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Sofía Abril Franco</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola, mi nombre es Abril y tengo 23 años. Hace un año que empecé a estudiar programación. 
            Me considero una persona curiosa, organizada, y adaptable a los cambios.  Siempre dispuesta a ayudar y clarificar dudas con mis colegas, alentando el trabajo en equipo. </p>  
        </span>
    </div>
</div>
